.button {
  cursor: pointer;
  display: flex;
  padding: 4px;
  background-color: #202024;
  border-radius: 12px;
}

.button span {
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 8px;
}

.button[data-theme="dark"] .sun {
  background-color: transparent;
  color: #7c7c8a;
}
.button[data-theme="dark"] .moon {
  background-color: #8234e9;
  color: #ffffff;
}
.button[data-theme="light"] .sun {
  background-color: #8234e9;
  color: #ffffff;
}

.button[data-theme="light"] .moon {
  background-color: transparent;

  color: #7c7c8a;
}
