.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202024;
  border-radius: var(--radius-sm);
  padding: 0.25rem;
  position: relative;
}

.button:hover {
  background-color: #29292e;
}

.button span {
  width: 2.25rem;
  height: 2.25rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7c7c8a;
}

.button[data-theme="dark"] .moon {
  color: #ffffff;
}
.button[data-theme="light"] .sun {
  color: #ffffff;
}

.box {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: var(--radius-sm);
  background-color: var(--primary);
  position: absolute;

  transition: var(--transition);
}

.button[data-theme="dark"] .box {
  transform: translateX(50%);
}

.button[data-theme="light"] .box {
  transform: translateX(-50%);
}
