.titleAndClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  border-bottom: 0.0625rem solid var(--background-button);
}

.title {
  font-size: var(--text-lg);
  color: var(--color-title);
  font-weight: 600;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  inset: 0;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 670px;
  width: 100%;

  background-color: var(--background-modal);

  border: 0.0625rem solid var(--background-button);
  border-radius: var(--radius-xl);
}

.closeButton {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-radius: var(--radius-md);
  color: var(--color-title);

  transition: var(--transition);
}

.closeButton:hover {
  background-color: var(--background-button);
}

.descriptionAndInput {
  padding: 1.5rem;
}

.description {
  color: var(--color-paragraph);
  margin-bottom: 1rem;
  font-size: var(--text-md);
}
