.titleAndClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  border-bottom: 0.125rem solid #202024;
}

.title {
  font-size: var(--text-lg);
  color: #ffffff;
  font-weight: 600;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  inset: 0;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 670px;
  max-height: 85vh;

  background-color: #09090a;

  border: 0.125rem solid #202024;
  border-radius: var(--radius-xl);
}

.closeButton {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-radius: var(--radius-md);
  color: #7c7c8a;

  transition: var(--transition);
}

.closeButton:hover {
  background-color: #202024;
}

.descriptionAndInput {
  padding: 1.5rem;
}

.description {
  color: #7c7c8a;
  margin-bottom: 1rem;
  font-size: var(--text-md);
}

.categories h2 {
  font-size: var(--text-lg);
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1rem;
}

.categories div {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.categories button {
  color: #8d8d99;
  background-color: #202024;
  transition: var(--transition);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: var(--radius-full);
}

.categories button:hover {
  background-color: #29292e;
}
