.container {
  background-color: var(--background-button);
  padding-block: 0.75rem;
  padding-inline: 1rem;

  display: flex;
  gap: 0.25rem;
  align-items: center;
  width: 33vw;
  border-radius: var(--radius-sm);

  transition: var(--transition);
}

.icon {
  stroke: var(--color-label);
}

.label {
  background: transparent;
  font-size: var(--text-sm);
  color: var(--color-label);
}

.container:hover {
  filter: invert(10%);
}
