:root {
  --background: #121214;
  --background-header: #1a1a1e;
  --background-modal: #09090a;
  --background-footer: #09090a;
  --background-button: #202024;
  --background-nav: #202024;
  --background-code: #1e1e1e;

  --color-title: #e1e1e6;
  --color-paragraph: #f5f5f4;
  --color-label: #7c7c8a;

  --primary: #8234e9;

  --max-width: 1256px;
  --padding-inline: 20px;
  --transition: all 300ms;
  --brightness: 120%;

  --header-height: 75px;
  --footer-height: 100px;

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 3rem; /* 48px */

  --radius-xs: 0.25rem; /* 4px */
  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.75rem; /* 12px */
  --radius-xl: 1rem; /* 16px */
  --radius-full: 9999px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f4f4f5;
    --background-header: #f5f5fa;
    --background-modal: #f5f5fa;
    --background-footer: #ffffff;
    --background-button: #c4c4cc;
    --background-nav: #ffffff;
    --background-code: #f5f2f0;

    --color-title: #121214;
    --color-paragraph: #333333;
    --color-label: #505059;
  }
}

html.dark {
  --background: #121214;
  --background-header: #1a1a1e;
  --background-modal: #09090a;
  --background-footer: #09090a;
  --background-button: #202024;
  --background-nav: #202024;
  --background-code: #1e1e1e;

  --color-title: #e1e1e6;
  --color-paragraph: #f5f5f4;
  --color-label: #7c7c8a;
}

html.light {
  --background: #f4f4f5;
  --background-header: #f5f5fa;
  --background-modal: #f5f5fa;
  --background-footer: #ffffff;
  --background-button: #c4c4cc;
  --background-nav: #ffffff;
  --background-code: #f5f2f0;

  --color-title: #121214;
  --color-paragraph: #333333;
  --color-label: #505059;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button,
textarea,
select {
  font-family: Roboto, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--color);
}

button {
  cursor: pointer;
}

.gradient {
  height: 4px;
  background-image: linear-gradient(
    95.99deg,
    rgba(41, 224, 169, 0.7) 7.66%,
    rgba(95, 117, 242, 0.7) 41.15%,
    rgba(153, 86, 246, 0.7) 75.03%,
    rgba(226, 84, 255, 0.7) 98.16%
  );
}
