.content {
  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  width: 100%;
  margin: 0 auto;

  padding-block: 1.5rem;
}

.content h1 {
  margin-bottom: 1.25rem;

  font-size: var(--text-xl);
}
.content h2 {
  font-size: var(--text-md);
}

.content p {
  margin-block: 1.25rem;
}
