.content {
  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  width: 100%;
  margin: 0 auto;

  padding-block: 1.5rem;
}

.content h1 {
  margin-bottom: 1.25rem;
  text-align: center;

  font-size: var(--text-xl);
  color: var(--color-title);
}

.content h2 {
  font-size: var(--text-md);
  color: var(--color-paragraph);
}

.content h3 {
  color: var(--color-paragraph);
}

.content p,
.content ul {
  margin-block: 1.25rem;
  color: var(--color-paragraph);
}

.content blockquote {
  margin-block: 1.25rem;
  color: var(--color-paragraph);
  font-style: italic;
  border-left: 0.25rem solid var(--primary);
  padding: 0.857rem;
}
