.section {
  display: flex;
  margin-left: 300px;
  padding: 2rem;
  padding-top: 100px;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100vh - 100px - 2rem);
  border-bottom-right-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);

  border: 0.0625rem solid var(--background-button);
  border-left: none;
  padding: 1.25rem;
  gap: 10px;

  position: fixed;

  left: 0;
  top: calc(100px + 1rem);

  background-color: var(--background-nav);
}

.nav h2 {
  color: var(--color-title);
  font-size: var(--text-lg);
  margin-bottom: 0.75rem;
}

.nav a {
  text-decoration: none;
  color: var(--color-paragraph);
  font-size: var(--text-sm);
  display: flex;
  /* align-items: start; */
  /* flex-wrap: wrap; */
  gap: 0.75rem;
}

.nav .list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.nav .list li {
  list-style: none;
}

.nav .number {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: var(--radius-xs);

  background: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.content {
  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  width: 100%;
  margin: 0 auto;

  padding-block: 1.5rem;
}

.content h1 {
  margin-bottom: 1.25rem;
  text-align: center;

  font-size: var(--text-xl);
  color: var(--color-title);
}

.content h2 {
  font-size: var(--text-md);
  color: var(--color-paragraph);
}

.content h3 {
  color: var(--color-paragraph);
  scroll-behavior: smooth;
}

.content p,
.content ul {
  margin-block: 1.25rem;
  color: var(--color-paragraph);
}

.content blockquote {
  margin-block: 1.25rem;
  color: var(--color-paragraph);
  font-style: italic;
  border-left: 0.25rem solid var(--primary);
  padding: 0.857rem;
}
