.container {
  position: relative;
  background-color: #121214;
  padding-left: 1rem;
  padding-block: 0.875rem;
  border: 0.125rem solid #29292e;
  border-radius: var(--radius-lg);
  margin-bottom: 2rem;
}

.input {
  background: transparent;
  font-size: var(--text-md);
  color: #ffffff;
  width: 100%;
}

.input::placeholder {
  color: #7c7c8a;
}

.span {
  font-size: var(--text-sm);
  color: #7c7c8a;
  position: absolute;
  bottom: 0.75rem;
  right: 1rem;
}
