.container {
  position: relative;
  background-color: #121214;
  padding-block: 14px;
  padding-left: 16px;
  border: 1px solid #29292e;
  border-radius: var(--radius-lg);
  margin-bottom: 32px;
}

.input {
  background: transparent;
  font-size: var(--text-md);
  color: #ffffff;
  width: 100%;
}

.input::placeholder {
  color: #7c7c8a;
}

.span {
  font-size: var(--text-sm);
  color: #7c7c8a;
  position: absolute;
  bottom: 12px;
  right: 16px;
}
