.container {
  background-color: #1a1a1e;
}

.logoAndSearch {
  display: flex;
  gap: 32px;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;

  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  margin: 0 auto;
  padding-block: 24px;
}
